* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(30, 37, 95);
  color: #fff;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.form input {
  width: 100%;
  padding: 10px;
  margin: 16px 0;
  border: none;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
}

.form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #1e255f;
  color: #fff;
  cursor: pointer;
}
